<div id="graph-modal" class="modal hidden">
    <div class="modal-card">
        <div class="modal-header">
            <h2>Add Graph</h2>
            <button id="close-graph-modal" class="close-btn">×</button>
        </div>

        <input id="graph-name-input" type="text" placeholder="Graph name" />

        <label>Sensor</label>
        <select id="graph-sensor-input"></select>

        <div class="form-actions">
            <button id="save-graph-btn" class="primary-btn">Save Graph</button>
        </div>
    </div>
</div>